@page "/tyhujh"
@inject NavigationManager NavigationManager

<h3>Select your role</h3>

<select @onchange="VelgJobb">
    <option value="">Select...</option>
    <option value="cleaner">Cleaner</option>
    <option value="service">Roomservice</option>
    <option value="maintenance">Maintenance</option>
</select>

@code {

    private void VelgJobb(ChangeEventArgs e)
    {
        var jobb = e.Value.ToString();
        switch (jobb)
        {
            case "cleaner":
                NavigationManager.NavigateTo("/cleaner-tasks");
                break;
            case "service":
                NavigationManager.NavigateTo("/roomservice-requests");
                break;
            case "maintenance":
                NavigationManager.NavigateTo("/maintenance-tasks");
                break;
        }
    }

}